.detail-body {
    width: 100%;
    height: 100vh;
    padding-top: 10px;
}


.detail-row-box {
    padding: 2rem;
    width: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    text-align: center;
}

.detail-img-box .detail-img {
    max-height: 30vh;
}

.detail-info-list {
    margin-top: 20px;
}
.detail-info-list .row {
    margin-bottom: 10px;
}

.detail-info-name {
    padding-right: 10px;
    text-align: right;
}

.detail-name {
    padding-left: 10px;
    text-align: left;
}