/* header 부분 */
#index-logo {
    width: 50px;
    height: auto;
  }
  
  #index-login {
    background-color: #4CAF50;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  #index-login a {
    text-decoration: none;
    color: white;
  }
  
  #index-login:hover {
    background-color: #45a049;
  }
  
  #index-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #f0f0f0;
  }

  /* body 시작 */
.plant-form {
    max-width: 1000px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.reset-button {
    width: 100%;
    padding: 10px;
    background-color: #db2b2b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

.reset-button:hover {
    background-color: #cc2a2a;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* logo 관련 스타일 */
.logo-container { /* 이미지를 감싸는 부모 요소 */
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    margin-top: 10px;
}

.logo-img {
    width:200px;

}